.tip-calculator__input_type_dollars {
    background: url(../../../../images/icon-dollar.svg);
    background-repeat: no-repeat;
    background-position: left;
    background-position-x: 5px;
    background-color: hsl(189, 41%, 97%);
    color: hsl(183, 100%, 15%);
}
