.tip-calculator__reset {
    color: hsl(183, 100%, 15%);
    background-color: hsl(172, 67%, 45%);
    border: none;
    text-transform: uppercase;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 2px;
    margin: 65px 20px 0px;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 700;
    margin-bottom: 10px;
}

.tip-calculator__reset:active {
    background-color: hsl(185, 41%, 84%);
    color: hsl(183, 100%, 15%);
}

@media screen and (max-width: 539px) {
    .tip-calculator__reset {
        margin-bottom: 20px;
    }    
}